<div class = "container">
  <div class="book">
    <img [src]="book.image" [alt]="book.title">
    <h2>{{ book.title }}</h2>
    <p class="author">{{ book.author }}</p>
    <p class="publisher">{{ book.publisher }}, {{ book.publishing }}</p>
    <p (click)="onLike()"><button>❤</button> {{ book.likes }}</p>
  </div>
  <div class="review">
    <p class="description">{{ book.description }}</p>
    <p>{{ book.review }}</p>
    <p class="createdAt">Posté le {{ book.createdAt | date: 'd MMMM yyy, à HH:mm' }}</p>
    <a routerLink="/books">Retour à la liste</a>
  </div>
</div>

